<ion-content class="layout-content">
  <!-- <ion-refresher (ionRefresh)="tabslideRefreshFn($event)">
    <ion-refresher-content pullingIcon="pulldown" pullingText="拉下刷新" refreshingSpinner="circles" refreshingText="刷新...">
    </ion-refresher-content>
  </ion-refresher> -->
  <div class="workflowlist" *ngIf="allList">
    <ion-list *ngFor="let item of allList">
      <div *ngIf="aliasMold!=='networkResource' && aliasMold!=='webService' && aliasMold.indexOf('ICCard')<=-1">
        <ion-item>
          <ion-label class="textcolor">申请人</ion-label>
          <ion-label class="textdirec">{{item.userName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor">申请部门</ion-label>
          <ion-label class="textdirec">{{item.deptName}}</ion-label>
        </ion-item>
      </div>
      <div *ngIf="aliasMold.indexOf('ICCard') > -1">
        <ion-item>
          <ion-label class="textcolor">经办人</ion-label>
          <ion-label class="textdirec">{{item.userName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor">经办人部门</ion-label>
          <ion-label class="textdirec">{{item.deptName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor">申请人</ion-label>
          <ion-label class="textdirec">{{item.applyICUsername}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor">申请人部门</ion-label>
          <ion-label class="textdirec">{{item.applyICDeptname}}</ion-label>
        </ion-item>
      </div>
      <div *ngIf="aliasMold=='networkResource' || aliasMold =='webService'">
        <ion-item>
          <ion-label class="textcolor">经办人</ion-label>
          <ion-label class="textdirec">{{item.operatorName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor">经办人部门</ion-label>
          <ion-label class="textdirec">{{item.operatorDeptName}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor">申请人</ion-label>
          <ion-label class="textdirec">{{item.applyUsername}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor">申请人部门</ion-label>
          <ion-label class="textdirec">{{item.applyDeptname}}</ion-label>
        </ion-item>
      </div>
      <ion-item>
        <ion-label class="textcolor">申请时间</ion-label>
        <ion-label class="textdirec">{{item.createTime | date: 'yyyy-MM-dd HH:mm:ss'}}</ion-label>
      </ion-item>
      <ion-item *ngIf=" toggle == 'AllData'">
        <ion-label class="textcolor">状态</ion-label>
        <ion-label class="textdirec">{{item.procedureStatusName}}</ion-label>
      </ion-item>
      <ion-grid class="btns">
        <ion-row>
          <ion-col (click)="toEditor2(item, 'view')" *ngIf="item.procedureStatus != 'draft'"><button
              type="button">查看</button></ion-col>
          <ion-col (click)="toRecall(item)" *ngIf="item.procedureStatus != 'draft' && item.procedureStatus != 'revert'">
            <button type="button">撤回</button>
          </ion-col>
          <ion-col (click)="toCreate(item, 'view')" *ngIf="item.procedureStatus == 'draft' "><button
              type="button">查看</button></ion-col>
          <ion-col (click)="toCreate(item, 'update')" *ngIf="item.procedureStatus == 'draft' "><button type="button"
              class="editColor">编辑</button></ion-col>
          <ion-col (click)="delete(item)" *ngIf="item.procedureStatus == 'draft' "><button type="button"
              class="deleteColor">删除</button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <div class="myorder-item-notdata" *ngIf="allList.length<=0">
      <img src="assets/imgs/notdata.png" alt="">
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="tabslideNextRefreshFn($event)">
    <ion-infinite-scroll-content loadingText="正在加载更多...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
