page-evection-draft{
    .list-ios {
        margin-bottom: .5rem;
      }
      .list-ios>.item-block:last-child,
      .list-ios>.item-wrapper:last-child .item-block {
        border: none;
      }
      .list-ios>.item-block:first-child {
        border: none;
        overflow: hidden;
      }
      .textcolor {
        color: #333;
      }
      .textdirec {
        color: #666666;
      }
      ion-label[fixed] {
        min-width: 120px;
        text-align: left;
      }
      ion-label {
        // text-align: right;
        color: #666666;
      }
      .text-input[disabled] {
        opacity: 1;
      }
      .select-disabled,
      .item-select-disabled ion-label {
        opacity: 1;
      }
      .text-input-ios {
        text-align: right;
      }
      .header .bar-button-default {
        // font-size: 1.8rem;
      }
      .item-ios {
        padding-left: 0;
        height: 6rem;
        min-height: 6rem;
      }
      .item-ios.item-block .item-inner {
        padding: 0 1.5rem;
        border-color: #e8eaf4;
        font-size: 1.7rem;
      }
      .datetime-text {
        font-size: 2.15rem;
        color: #333;
      }
      .toggle-ios {
        width: 5.9rem;
      }
      .toggle-checked .toggle-inner {
        right: 23px !important;
        left: initial !important;
      }
      .toggle-ios .toggle-inner {
        right: initial;
        left: 5px;
      }
      .toggle-inner::before {
        padding-left: 0px;
      }
      .toggle-ios .toggle-icon {
        &::before {
          content: "下午";
          background-color: #00c4ff;
          left: 0;
          display: flex;
          justify-content: flex-end;
          padding-right: 4px;
          font-size: 1rem;
          color: #fff;
          align-items: center;
        }
      }
      .toggle-checked .button-inner {
        justify-content: flex-start;
        &::before {
          content: "上午";
          right: 0;
          align-items: center;
          justify-content: end;
          font-size: 1rem;
          color: #fff;
          padding-left: 3px;
        }
      }
      .toggle-ios-secondary.toggle-checked .toggle-icon {
        background-color: #0081e4 !important;
      }
      .toggle-ios .toggle-icon {
        background-color: #00c4ff !important;
      }
      .toggle-ios .toggle-icon {
        background-color: #00c4ff !important;
      }
      .toggle-ios .toggle-icon::before {
        background-color: #00c4ff;
      }
      .file {
        height: 6rem;
        line-height: 6rem;
        text-align: center;
        background: #fff;
        font-size: 1.7rem;
        color: #007bff;
        width: 100%;
        padding: 0 1.5rem;
        position: relative;
        input {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          z-index: 11;
          opacity: 0;
        }
      }
      .fileText {
        height: 6rem;
        line-height: 6rem;
        text-align: left;
        background: #fff;
        font-size: 1.7rem;
        color: #333;
        width: 100%;
        padding: 0 1.5rem;
      }
      .button-outline-ios-gray {
        color: #333;
      }
      .select-text {
        text-align: right;
        color: #666666;
      }
      ion-select {
        flex: 1;
        max-width: 100%;
      }
      .has-footer {
        .scroll-content {
          margin-bottom: 6rem;
        }
      }
      .has-footer2 {
        .scroll-content {
          margin-bottom: 6rem;
        }
      }
      .defaultChoose {
        color: #bbbbbb !important;
      }
      .form-radio {
        margin-right: 8px;
        display: inline-block;
      }
      .back_style .toggle-icon {
        &::before {
          content: "否";
          background-color: #00c4ff;
          left: 0;
          display: flex;
          justify-content: flex-end;
          padding-right: 12px;
          font-size: 1rem;
          color: #fff;
          align-items: center;
        }
      }
      .back_style .button-inner {
        justify-content: flex-start;
        &::before {
          content: "是";
          right: 0;
          align-items: center;
          justify-content: end;
          font-size: 1rem;
          color: #fff;
          padding-left: 26px;
        }
      }
      .datetime-text {
        font-size: 17px !important;
        color: #666666;
      }
    
      .datetime-ios {
        padding: 11px 8px 11px 12px !important;
        width: 100%;
        text-align: right;
      }
      .datetime-disabled,
      .item-datetime-disabled ion-label {
        opacity: 1;
      }
      .select-disabled,
      .item-select-disabled ion-label {
        opacity: 1;
      }
    
      .item-toggle-disabled ion-label{
        color: #333 !important;
        opacity: 1 !important;
      }

      .timeStyle .leaveType .stactime {
        width: 50%;
        float: left;
        font-size: 2.15rem;
        text-align: center;
        height: 4rem;
      }
      .timeStyle .leaveType .stactime:first-child {
        text-align: center;
    }
}