page-vacation-edit {
    .list-ios{
        margin-bottom: .5rem;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
        border: none;
    }
    .list-ios > .item-block:first-child{
        border: none;
        overflow: hidden;
    }
    .textcolor{
        color: #333;
    }
    .textdirec{
        color:#666666;
    }
    ion-label[fixed]{
        min-width: 120px;
    }
    .text-input-ios{
        text-align: right;
    }
    .header .bar-button-default{
        // font-size: 1.8rem;
    }
    .item-ios{
        padding-left:0;
        height: 6rem;
        min-height: 6rem;
    }
    .item-ios.item-block .item-inner{
        padding: 0 1.5rem;
        border-color: #e8eaf4;
        font-size: 1.7rem;
    }
    ion-label[fixed]{
        min-width: 120px;
        text-align: left;
    }
    ion-label{
        // text-align: right;
        color: #666666;
    }
    .has-footer{
        .scroll-content{
            margin-bottom: 16rem;
        }
    }
    .fileText{
        height: 6rem;
        line-height: 6rem;
        text-align: left;
        background: #fff;
        font-size: 1.7rem;
        color: #333;
        width: 100%;
        padding: 0 1.5rem;
    }
}
