page-editorView {
  .reason {
    width: 100%;
    height: auto;
    display: flex;
    min-height: 14.4rem;
    padding: 0 1.5rem;
    padding-top: 2rem;
    color: #666666;
    font-size: 1.7rem;
    border: none;
    border-bottom: 1px solid #e8eaf4;
    background: #fff;
    margin-bottom: 5px;
  }

  .bzhu {
    border-bottom: 1px solid #e8eaf4;
    font-size: 1.7rem;
    background: #fff;
    display: flex;
    padding: 2rem 1.5rem;
    span{
        width: 10rem;
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        color: #333;
    }
    p{
        flex: 1;
        color: #666;
    }
  }

  & ion-content,
  & .content,
  & ion-list {
    background: #e8eaf4;
  }

  & .duan {
    margin-bottom: 5px;
  }

  & .duan2 {
    margin-top: 5px;
  }

  .allColor {
    color: #333;
    opacity: 1 !important;

    .content {
      background: #fff !important;
    }
  }

  & ion-item .text-right {
    text-align: right;
    color: #666;
  }

  .item-ios {
    padding-left: 0px;
  }

  .list-ios .item-block .item-inner {
    padding-left: 16px;
    padding-right: 16px;
    border-color: #e8eaf4;
  }

  .people-list {
    background: #fff;
    overflow: hidden;
    padding: 0 6px;
  }
  .choosePeopleList{
    .label-ios{
      margin: 0;
      margin-bottom: 11px;
    }
}
  .people-item {
    display: inline-block;
    width: 16.6666%;
    // width: 20%;
    padding: 12px 4px 0px;
    // max-width: 62px;
    // min-height: 66px;
    text-decoration: none;
    color: #999;
    float: left;
    text-align: center;
    font-size: 1.2rem;
    white-space: normal;
    min-height: 97px;
    img {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        vertical-align: top;
    }

    .icon {
      font-size: 4rem;
    }

    .icon-reduce1 {
      font-size: 4.7rem;
      margin-top: -3px;
    }

    span {
      margin-top: 3px;
      min-height: 18px;
      // overflow: hidden;
      display: -webkit-box;
      display: -moz-box;
      display: -o-box;
      display: box;
      display: flex;
      align-items: center;
      justify-content: center;
      // -webkit-line-clamp: 2;
      // -webkit-box-orient: vertical;
      // white-space: nowrap;
    }
  }

  // & #DateSelect .list-ios .item-block .item-inner{ border-bottom: none;}
  // & #DateSelect .item-ios.item-block .item-inner{border-bottom: none;}
  & #DateSelect ion-label.label-ios {
    margin: 0px auto !important;
  }

  & #DateSelect {
    display: flex;
    margin-bottom: 0px;
  }

  & #DateSelect ion-item {
    padding-left: 0;
    width: 50%;
    flex: 2;
    align-items: flex-end;
    border: none !important;

  }

  & #DateSelect ion-item.jiantou {
    flex: 0 0 20px;
    align-items: center;

    .item-inner {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  & #DateSelect ion-item .label-ios {
    margin-right: 0;
  }

  & #DateSelect ion-item ul {
    padding-left: 0;
    clear: both;
    overflow: hidden;

  }

  & #DateSelect ion-item ul li {
    float: left;
    width: 50%;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
  }

  & #DateSelect ion-item ul li:nth-child(even) {
    text-align: right;
  }

  // #DateSelect ion-item ul li.dateselect_year{font-size: 1.2rem;}
  & #DateSelect ion-item ul li.dateselect_zh {
    color: #bbbbbb;
  }

  & #DateSelect ion-item ul li.week-color {
    color: #a9b2b9;
  }

  & #DateSelect ion-item ul li:nth-child(3),
  #DateSelect ion-item ul li:nth-child(4) {
    font-size: 2.2rem;
    color: #000000;
  }

  & #DateSelect ion-item ul li {
    font-size: 1.2rem;
    color: #d2d8dd;
  }



  & #show1 {
    display: block;
  }

  & #show2 {
    display: none;
  }

  & #show3 {
    display: none;
  }

  .list-ios {
    margin-bottom: .5rem;
  }

  .list-ios>.item-block:last-child,
  .list-ios>.item-wrapper:last-child .item-block {
    border: none;
  }

  .list-ios>.item-block:first-child {
    border: none;
    overflow: hidden;
  }

  .textcolor {
    color: #333;
  }

  .textdirec {
    color: #666666;
  }

  ion-label[fixed] {
    min-width: 120px;
    text-align: left;
  }

  ion-label {
    // text-align: right;
    color: #333;
    white-space: inherit;
  }

  .text-input[disabled] {
    opacity: 1;
  }

  .select-disabled,
  .item-select-disabled ion-label {
    opacity: 1;
  }

  .text-input-ios {
    text-align: right;
  }

  .header .bar-button-default {
    // font-size: 1.8rem;
  }

  .item-ios {
    padding-left: 0;
    min-height: 6rem;
  }

  .item-ios.item-block .item-inner {
    padding: 0 1.5rem;
    border-color: #e8eaf4;
    font-size: 1.7rem;
  }

  .datetime-text {
    font-size: 2.15rem;
    color: #333;
  }

  .toggle-ios {
    width: 5.9rem;
  }

  .toggle-checked .toggle-inner {
    right: 23px !important;
    left: initial !important;
  }

  .toggle-ios .toggle-inner {
    right: initial;
    left: 5px;
  }

  .toggle-inner::before {
    padding-left: 0px;
  }

  .toggle-ios .toggle-icon {
    &::before {
      content: "下午";
      background-color: #00c4ff;
      left: 0;
      display: flex;
      justify-content: flex-end;
      padding-right: 4px;
      font-size: 1rem;
      color: #fff;
      align-items: center;
    }
  }

  .toggle-checked .button-inner {
    justify-content: flex-start;

    &::before {
      content: "上午";
      right: 0;
      align-items: center;
      justify-content: end;
      font-size: 1rem;
      color: #fff;
      padding-left: 3px;
    }

  }

  .toggle-ios-secondary.toggle-checked .toggle-icon {
    background-color: #0081e4 !important;
  }

  .toggle-ios .toggle-icon {
    background-color: #00c4ff !important;
  }

  .toggle-ios .toggle-icon {
    background-color: #00c4ff !important;
  }

  .toggle-ios .toggle-icon::before {
    background-color: #00c4ff;
  }

  .file {
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    background: #fff;
    font-size: 1.7rem;
    color: #007bff;
    width: 100%;
    padding: 0 1.5rem;
    position: relative;

    input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 11;
      opacity: 0;
    }

  }

  .fileText {
    height: 6rem;
    line-height: 6rem;
    text-align: left;
    background: #fff;
    font-size: 1.7rem;
    color: #333;
    width: 100%;
    padding: 0 1.5rem;
  }

  .button-outline-ios-gray {
    color: #333;
  }

  .select-text {
    text-align: right;
    color: #666666;
  }

  ion-select {
    flex: 1;
    max-width: 100%;
  }

  .has-footer {
    .scroll-content {
      margin-bottom: 16rem;
    }
  }

  .has-footer2 {
    .scroll-content {
      margin-bottom: 6rem;
    }
  }

  .defaultChoose {
    color: #bbbbbb !important;
  }
}
