<ion-header>
  <!-- <ion-navbar>
    <ion-title>选择人员</ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()">确定</button>
    </ion-buttons>
  </ion-navbar> -->
  <ion-toolbar>
    <ion-buttons>
      <button ion-button (click)="goback()">
        <ion-icon class="iconfont icon-arrowleft"></ion-icon>返回
      </button>
    </ion-buttons>
    <ion-title>选择人员</ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()">确定</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar #searchBox id="search-box" (ionInput)="search(searchBox.value)" (ionClear)="onClearFilter($event)"
    placeholder="搜索"></ion-searchbar>
  <!-- <ion-searchbar (ionInput)="getItems($event)" placeholder=""></ion-searchbar> -->
  <ion-refresher (ionRefresh)="tabslideRefreshFn($event)" *ngIf="!isFilter">
    <ion-refresher-content pullingIcon="pulldown" pullingText="拉下刷新" refreshingSpinner="circles" refreshingText="刷新...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="!isFilter">
    <ion-item *ngFor="let item of data">
      <ion-avatar item-start>
        <img src="{{state +'/base/fileinfo/getFileImage?id='+ item.photo}}" *ngIf="!!item.photo">
        <img src="assets/imgs/people-head.png" *ngIf="!item.photo">
      </ion-avatar>
      <ion-label>
        <h2>{{item.userName}}</h2>
        <p>{{item.deptName}}</p>
      </ion-label>
      <ion-checkbox item-end color="blue" [(ngModel)]="item.checked" (click)="select(item)"></ion-checkbox>
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="tabslideNextRefreshFn($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
  <ion-list>
      <ion-item *ngFor="let item of heroes$ | async">
        <ion-avatar item-start>
          <img src="{{state +'/base/fileinfo/getFileImage?id='+ item.photo}}" *ngIf="!!item.photo">
          <img src="assets/imgs/people-head.png" *ngIf="!item.photo">
        </ion-avatar>
        <ion-label>
          <h2>{{item.userName}}</h2>
          <p>{{item.deptName}}</p>
        </ion-label>
        <ion-checkbox item-end color="blue" [(ngModel)]="item.checked" (click)="select(item)"></ion-checkbox>
      </ion-item>
    </ion-list>
</ion-content>
