page-network-xieyi {
  .newsDetail {
    padding: 16px;
    .news-content {
      width: 100%;
      line-height: 28px;
      font-family: "微软雅黑", "Microsoft yahei";
      font-size: 1.6rem;
    }
  }
}
