page-minecontact {
    .searchbar-ios{
        background: rgba(0, 0, 0, 0.1);
      }
    .scroll-content{
        margin-bottom: 0!important;
    }
    .searchbar-ios .searchbar-clear-icon{
        background: none;
    }
}
