page-usercar-draft{
    .list-ios {
        margin-bottom: .5rem;
      }
      .list-ios>.item-block:last-child,
      .list-ios>.item-wrapper:last-child .item-block {
        border: none;
      }
      .list-ios>.item-block:first-child {
        // border: none;
        overflow: hidden;
      }
      .textcolor {
        color: #333;
      }
      .textdirec {
        color: #666666;
      }
      ion-label[fixed] {
        min-width: 100px;
        text-align: left;
        text-overflow: inherit;
        white-space: normal;
      }
      ion-label {
        // text-align: right;
        color: #666666;
      }
      .textcolorNew {
        text-align: right;
        text-overflow: inherit;
        white-space: normal;
      }
      .datetime-ios {
        padding: 11px 8px 11px 12px !important;
        width: 100%;
        text-align: right;
      }
      .text-input[disabled] {
        opacity: 1;
      }
      .datetime-disabled,
      .item-datetime-disabled ion-label {
        opacity: 1;
      }
      .select-disabled,
      .item-select-disabled ion-label {
        opacity: 1;
      }
      .text-input-ios {
        text-align: right;
      }
      .header .bar-button-default {
        // font-size: 1.8rem;
      }
      .item-ios {
        padding-left: 0;
        height: 6rem;
        min-height: 6rem;
      }
      .item-ios.item-block .item-inner {
        padding: 0 1.5rem;
        border-color: #e8eaf4;
        font-size: 1.7rem;
      }
      .datetime-text {
        font-size: 17px !important;
        color: #666666;
      }
      .toggle-ios {
        width: 6.9rem;
      }
      .toggle-checked .toggle-inner {
        right: 23px !important;
        left: initial !important;
      }
      .toggle-ios .toggle-inner {
        right: initial;
        left: 5px;
      }
      .toggle-inner::before {
        padding-left: 0px;
      }
      .trip_type .toggle-icon {
        &::before {
          content: "单程";
          background-color: #00c4ff;
          left: 0;
          display: flex;
          justify-content: flex-end;
          padding-right: 6px;
          font-size: 1rem;
          color: #fff;
          align-items: center;
        }
      }
      .trip_type .button-inner {
        justify-content: flex-start;
        &::before {
          content: "往返";
          right: 0;
          align-items: center;
          justify-content: end;
          padding-left: 18px;
          font-size: 1rem;
          color: #fff;
        }
      }
      .driver_flow .toggle-icon {
        &::before {
          content: "是";
          background-color: #00c4ff;
          left: 0;
          display: flex;
          justify-content: flex-end;
          padding-right: 12px;
          font-size: 1rem;
          color: #fff;
          align-items: center;
        }
      }
      .driver_flow .button-inner {
        justify-content: flex-start;
        &::before {
          content: "否";
          right: 0;
          align-items: center;
          justify-content: end;
          font-size: 1rem;
          color: #fff;
          padding-left: 26px;
        }
      }
      .driving_flow .toggle-icon {
        &::before {
          content: "否";
          background-color: #00c4ff;
          left: 0;
          display: flex;
          justify-content: flex-end;
          padding-right: 12px;
          font-size: 1rem;
          color: #fff;
          align-items: center;
        }
      }
      .driving_flow .button-inner {
        justify-content: flex-start;
        &::before {
          content: "是";
          right: 0;
          align-items: center;
          justify-content: end;
          font-size: 1rem;
          color: #fff;
          padding-left: 26px;
        }
      }
      .toggle-ios-secondary.toggle-checked .toggle-icon {
        background-color: #0081e4 !important;
      }
      .toggle-ios .toggle-icon {
        background-color: #00c4ff !important;
      }
      .toggle-ios .toggle-icon {
        background-color: #00c4ff !important;
      }
      .toggle-ios .toggle-icon::before {
        background-color: #00c4ff;
      }
      .file {
        height: 6rem;
        line-height: 6rem;
        text-align: center;
        background: #fff;
        font-size: 1.7rem;
        color: #007bff;
        width: 100%;
        padding: 0 1.5rem;
        position: relative;
        input {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          z-index: 11;
          opacity: 0;
        }
      }
      .fileText {
        height: 6rem;
        line-height: 6rem;
        text-align: left;
        background: #fff;
        font-size: 1.7rem;
        color: #333;
        width: 100%;
        padding: 0 1.5rem;
      }
      .button-outline-ios-gray {
        color: #333;
      }
      .select-text {
        text-align: right;
        color: #666666;
      }
      ion-select {
        flex: 1;
        max-width: 100%;
      }
      .has-footer {
        .scroll-content {
          margin-bottom: 16rem;
        }
      }
      .has-footer2 {
        .scroll-content {
          margin-bottom: 6rem;
        }
      }
      .defaultChoose {
        color: #bbbbbb !important;
      }
      .lc-form-row .lc-toggle-box {
        padding: 0rem !important
      }
      .checkbox-ios .checkbox-icon {
        border-radius: 0 !important;
      } // 这块样式表单不需要就删了
      .form-item-content {
        width: 100%;
        margin: 11px 0 11px 16px;
        .form-checkbox {
          margin-right: 8px;
          display: inline-block;
        }
      }

      .people-item {
        // display: inline-block;
        float: left;
        // width: 16.6666%;
        // max-width: 62px;
        // min-height: 66px;
        width: 25%;
        padding: 12px 4px;
        text-decoration: none;
        color: #999;
        text-align: center;
        font-size: 1.2rem;
        position: relative;
        white-space: normal;
        img {
          width: 4rem;
          height: 4rem;
          border-radius: 100%;
          vertical-align: top;
          border: 1px solid #e8eaf4;
        }
    
        & .icon.del{
          // font-size: 1.8rem; position: absolute; top: 5px; right: 5px;
          font-size: 1.6rem;
          position: absolute;
          top: 5px;
          right: 5px;
          color: #fff;
          background: red;
          border-radius: 50%;
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          .icon-guanbi{
              transform: scale(0.6);
          }
      }
    
        .icon {
          font-size: 4rem;
        }
    
        .icon-reduce1 {
          font-size: 4.7rem;
          margin-top: -3px;
        }
    
        span {
          margin-top: 3px;
          overflow: hidden;
          display: -webkit-box;
          display: -moz-box;
          display: -o-box;
          display: box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
        }
      }
    & .duan{ margin-bottom: 5px;}
    & .duan2{ margin-top: 5px;}

    .item-toggle-disabled ion-label{
      color: #333 !important;
      opacity: 1 !important;
    }

    .driverNum{
      font-size: 1.7rem;
      color: #333;
      height: 6rem;
      line-height: 6rem;
      padding: 0 1.5rem;
      background: #fff;
      overflow: hidden;
      border-bottom: 1px solid #e8eaf4;

      span{
          float: left;
      }
      input{
          width: 7.6rem;
          text-align: center;
          float: right;
          font-size: 2.4rem;
          border: none;
      }
      .iconfont{
          font-size: 2.2rem;
          float: right;
          height: 6rem;
          background: #fff;
      }
      .icon-jianhao{
          padding: 0;
          font-size: 3rem;
          margin-right: -.5rem;   
      }
  }
  .button_line{
    border-bottom: 1px solid #e8eaf4;
  }
}