page-meetings {
  ion-header {
    // min-height: 213px;
  }

  .bar-buttons-ios[end] {
    button {
      margin-left: 10px;
    }
  }

  ul,
  li {
    padding: 0;
  }

  .scroll-x {
    overflow-x: scroll;
    overflow-y: hidden;
    float: right;
    height: auto;
  }

  .fixed-content,
  .scroll-content {
    // margin-top: 219px!important;
  }

  .calendar-short-content {
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    height: 109px;
  }

  .calendar-short {
    width: 100%;
    height: auto;
    background: #fff;
    margin-bottom: 8px;

    .calendar-short-head {
      height: 4.8rem;
      border-bottom: 1px solid #ededed;
      position: relative;
      @extend .clearfloat;

      .calendar-ymd {
        width: 100%;
        height: 4.8rem;
        line-height: 4.8rem;
        text-align: center;
        font-size: 1.7rem;
        color: #333;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        margin: 0 auto;
        padding: 0;
      }

      .calendar-next,
      .calendar-prev {
        display: block;
        width: 4.8rem;
        height: 4.8rem;
        line-height: 4.8rem;
        position: relative;
        z-index: 2;
        font-size: 2rem;
        color: #858585;
        text-decoration: none;

        &:focus,
        &:hover {
          color: #0181e4;
        }
      }

      .calendar-prev {
        float: left;
        margin-left: 10px;
        text-align: left;
      }

      .calendar-next {
        float: right;
        margin-right: 10px;
        text-align: right;
      }
    }

    .calendar-short-content {
      .calendar-calHead {
        overflow: hidden;
        padding: 0;
        height: 54px;

        li {
          width: 14.2857%;
          height: 4.5rem;
          line-height: 4.5rem;
          text-align: center;
          font-size: 1.5rem;
          color: #999;
          float: left;
        }
      }

      .calendar-calBody {
        padding-bottom: 5px;
        height: 55px;

        .calendar-calRow {
          .calendar-calTd {
            width: 14.2857%;
            float: left;
            text-align: center;

            span {
              display: block;
              width: 3.5rem;
              height: 3.5rem;
              font-size: 1.5rem;
              line-height: 3.5rem;
              border-radius: 100%;
              margin: 0 auto 2px auto;
              border: 1px solid transparent;
              color: #333;

              &.curr {
                background: #0181e4;
                color: #fff;
              }

              &.current {
                border: 1px solid #0181e4;
                color: #0181e4;
              }
            }

            em {
              display: block;
              width: 6px;
              height: 6px;
              -webkit-border-radius: 100%;
              border-radius: 100%;
              margin: 0 auto;

              &.gray {
                background: lighten(#000, 73%);
              }

              &.orange {
                background: #ff9000;
              }
            }
          }
        }
      }
    }
  }

  // 会议室预定情况
  .meetingRoom-content {
    overflow: auto;

    .meetingRoom-cont {
      margin-bottom: 10px;
      height: 100%;
      width: 1530px;
      padding-bottom: 2rem;
      // width: 3060px;
    }

    .table {
      width: 100%;
      border-collapse: collapse; // 第一行时间段况

      &.table-main {
        margin-left: 8px;
        height: 100%;

        tbody {
          tr {
            td {
              border-left: 1px solid #d8d8d8;
              border-right: 1px solid #d8d8d8;

              &.bg-primary {
                // background-color: #0071bd;
              }

              &.bg-success {
                background-color: #04a001;
              }

              &.bg-info {
                background-color: #0c64b6;
              }

              &.bg-warning {
                background-color: #faf4c8;
              }

              &.bg-danger {
                background-color: #f3c2c2;
              }
            }
          }
        }
      }

      thead,
      tbody {
        tr>td {
          width: 50px;
          font-size: 1.2rem;
          background: #FFF;
        }
      }
    }

    .left-cont {
      float: left;
      background: #fff;

      li:nth-child(1) {
        // height: 35px;
        // line-height: 35px;
        margin-top: 3rem;
      }

      & li {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      li {
        // // width: 55px;
        // width: 5.2rem;
        // // height: 41px;
        // // padding: 0 0 0 3px;
        // // padding: 1.8rem .8rem 0 .8rem;
        // padding: 1.1rem 0rem 1.1rem .7rem;
        // font-size: 1.2rem;
        // color: #333;
        // text-align: center;
        width: 5.8rem;
        padding: 0 0 0 .7rem;
        font-size: 1.2rem;
        color: #333;
        text-align: center;
        height: 48px;
      }
    }
  }

  & .calendar-list {
    //background: #fff;
    height: calc(100% - #{auto + 8px});
    top: 0;
    background: #FFFFFF;
    padding-top: 1.2rem;
    padding-bottom: 2rem;
    display: flex;
  }

  .clearfloat {

    &:after,
    &:before {
      clear: both;
      display: block;
      content: "";
      height: 0;
      line-height: 0;
    }
  }

  & .meetingRoom-content table.table-header {
    width: 1530px;
    // width: 3060px;
    color: #f19149;
  }

  & table thead tr {
    height: 30px;
    line-height: 10px;
  }

  & table thead tr div {
    padding-left: 3px;
    // font-size: 1.6rem;
    font-size: 1rem;
    margin-top: .4rem;
  }

  & table tbody tr {
    height: 41px;
  }

  & table td {
    position: relative;
  }

  & table .huiyi {
    cursor: pointer;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    width: max-content;
    height: 41px;
    border-radius: 8px;
    font-size: 1.4rem;
    width: 200px;
    min-width: 0;

    &.active {
      z-index: 99;
    }
  }

  & table .huiyi div:nth-child(1) {
    flex: 0, 0, 41px;
    padding: 6px;
    border-radius: 8px 0 0 8px;
  }

  & table .huiyi div img {
    width: 29px;
    height: 29px;
    border-radius: 50%;
  }

  & table .huiyi div:nth-child(2) {
    flex: 1;
    text-align: left;
    align-self: center;
    padding: 0 5px;
    overflow: hidden;
  }

  & table .huiyi div:nth-child(2) p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & table .huiyi.w50 {
    & div:nth-child(1) {
      display: none;
    }
  }


  // .meetingRoom-content {
  //   height: 503px;
  // }

  // .calendar-list {


  //   .left-cont {}

  //   .scroll-x {
  //     overflow-x: scroll;
  //     /*横向滚动*/
  //     overflow-y: hidden;
  //     position: relative;

  //     .table-header {
  //       width: 1530px;
  //       height: 30px;
  //     }

  //     .meetingRoom-cont {
  //       position: absolute;
  //       width: 1530px;
  //       height: 600px;
  //       overflow-y: auto;
  //     }

  //   }

  // }








  /*色彩*/
  .yellow,
  .col1 {
    background: #f8b551;
    color: #FFFFFF;

    & div:nth-child(1) {
      background: #f39800;
    }
  }

  .fen,
  .col2 {
    background: #fb9179;
    color: #FFFFFF;

    & div:nth-child(1) {
      background: #e4846c;
    }

    & span {
      color: #fcb6a8;
    }
  }

  .hui,
  .col3 {
    background: #eaf0f3;
    color: #8e9193;

    & div:nth-child(1) {
      background: #d8e1e6;
    }

    & span {
      color: #cfd1d3;
    }
  }

  tbody tr:nth-child(n+0) td .col3 {
    background: #f8b551;
    color: #FFFFFF;

    & div:nth-child(1) {
      background: #f39800;
    }
  }

  tbody tr:nth-child(2n+0) td .col3 {
    background: #fb9179;
    color: #FFFFFF;

    & div:nth-child(1) {
      background: #e4846c;
    }

    & span {
      color: #fcb6a8;
    }
  }

  tbody tr:nth-child(3n+0) td .col3 {
    background: #eaf0f3;
    color: #8e9193;

    & div:nth-child(1) {
      background: #d8e1e6;
    }

    & span {
      color: #cfd1d3;
    }
  }

  tbody tr:nth-child(4n+0) td .col3 {
    background: #668bf5;
    color: #FFFFFF;

    & div:nth-child(1) {
      background: #5679d5;
    }

    & span {
      color: #cfd1d3;
    }
  }

  tbody tr:nth-child(5n+0) td .col3 {
    background: #00c0ff;
    color: #FFFFFF;

    & div:nth-child(1) {
      background: #0c9cf8;
    }

    & span {
      color: #7ed7ff;
    }

  }

  tbody tr:nth-child(6n+0) td .col3 {
    background: #a0cd35;
    color: #FFFFFF;

    & div:nth-child(1) {
      background: #8eb532;
    }
  }

  .shenlan,
  .col4 {
    background: #668bf5;
    color: #FFFFFF;

    & div:nth-child(1) {
      background: #5679d5;
    }

    & span {
      color: #cfd1d3;
    }
  }

  .lan,
  .col5 {
    background: #00c0ff;
    color: #FFFFFF;

    & div:nth-child(1) {
      background: #0c9cf8;
    }

    & span {
      color: #7ed7ff;
    }
  }

  .lv,
  .col6 {
    background: #a0cd35;
    color: #FFFFFF;

    & div:nth-child(1) {
      background: #8eb532;
    }
  }
}
