page-new-schedule {
    .btn3{
        padding:2rem .2rem;
        button:first-child{
            width:100%;
        }
        button:last-child{
            width:95%;
        }
    }
    .starred{
        color:red;
    }
    
}
