<ion-header>
<!-- 
  <ion-navbar>
    <ion-title>司机行程</ion-title>
  </ion-navbar> -->
  <ion-toolbar>
    <ion-buttons>
      <button ion-button (click)="goback()">
        <ion-icon class="iconfont icon-arrowleft"></ion-icon>返回
      </button>
    </ion-buttons>
    <ion-title>司机行程</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="toggle" (ngModelChange)=toggleClick($event)>
    <ion-segment-button value="awiatData">
      待办
    </ion-segment-button>
    <ion-segment-button value="complateData">
      已办
    </ion-segment-button>
    <ion-segment-button value="conductData">
      进行中
    </ion-segment-button>
  </ion-segment>
</ion-header>
<ion-content class="layout-content">
  <ion-refresher (ionRefresh)="tabslideRefreshFn($event)">
    <ion-refresher-content pullingIcon="pulldown" pullingText="拉下刷新" refreshingSpinner="circles" refreshingText="刷新...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="user-car-suipai" *ngIf="toggle == 'conductData' || toggle == 'awiatData' || toggle == 'complateData'">
    <ion-list *ngFor="let entry of listDataNew">
      <ion-item>
        <ion-label class="textcolor">司机</ion-label>
        <ion-label class="textdirec">{{entry.driverName}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="textcolor">车辆</ion-label>
        <ion-label class="textdirec">{{entry.theCarNumber}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="textcolor">出车地点</ion-label>
        <ion-label class="textdirec">{{entry.showStartPlace}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="textcolor">到达地点</ion-label>
        <ion-label class="textdirec">{{entry.showArrivePlace}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label class="textcolor">用车时间</ion-label>
        <ion-label class="textdirec">{{entry.showOutTime | date: 'yyyy-MM-dd HH:mm'}}</ion-label>
      </ion-item>
      <ion-grid class="btns">
        <ion-row>
          <ion-col (click)="goView(entry)">
            <button type="button">查看</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    <div class="myorder-item-notdata" *ngIf="listDataNew.length<=0">
      <img src="assets/imgs/notdata.png" alt="">
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="tabslideNextRefreshFn($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
