page-shuipai-car {
  .segment {
    background: #fff;
    height: 5rem;
    border: 1px solid #d8d8d8;
    .segment-button {
      border: none;
      color: #333;
      font-size: 1.7rem;
      height: 5rem;
      line-height: 5rem;
      margin: 0 10%;
    }
    .segment-button.segment-activated {
      // margin: 0 10%;
      border-radius: 0;
      background: #fff;
      border-bottom: 2px solid #007bff;
      color: #007bff;
    }
  }
  .myorder-item-notdata {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: 80%;
  }
  .list-ios>.item-block:last-child,
  .list-ios>.item-wrapper:last-child .item-block {
    border: none;
  }
  .list-ios>.item-block:first-child {
    border: none;
    margin-top: 1rem;
    overflow: hidden;
  }
  .list-ios {
    margin: -1px 0 .5rem;
    background: #fff;
    overflow: hidden;
  }
  .item-ios {
    padding-left: 0;
    max-height: 2.5rem;
    height: 2.5rem;
    min-height: 2.5rem;
  }
  .list-ios .item-block .item-inner {
    border-color: #e8eaf4;
    padding-left: 1.5rem;
    font-size: 1.5rem;
  }
  .btns {
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    background: #fff;
    padding: 0;
    .col {
      padding: 0;
    }
    button {
      border: none;
      background: none;
      color: #007bff;
      font-size: 1.5rem;
    }
    .editColor {
      color: #f39800;
    }
    .deleteColor {
      color: #e60012;
    }
  }
  .textcolor {
    color: #999999;
  }
  .textdirec {
    text-align: right;
  }
  .user-car-suipai {
    background: #e8eaf4;
    overflow: hidden; // border-top: 1px solid #e8eaf4;
  }
}
