<ion-header>
  <!-- <ion-navbar>
    <ion-title>网络资源管理详情</ion-title>
    <ion-buttons end>
      <button ion-button (click)="viewFlow()">
        <ion-icon name="xinzeng"></ion-icon>办理意见
      </button>
    </ion-buttons>
  </ion-navbar> -->
  <ion-toolbar>
    <ion-buttons>
      <button ion-button (click)="goback()">
        <ion-icon class="iconfont icon-arrowleft"></ion-icon>返回
      </button>
    </ion-buttons>
    <ion-title>{{!editable ? "查看网络资源申请":"审核网络资源申请"}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="viewFlow()">
        办理意见
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="layout-content"
  [ngClass]="{'has-footer': editable && wfHolderObj && wfHolderObj.showOpinionArea()&& wfHolderObj.isTodo(),'has-footer2':editable && wfHolderObj && !wfHolderObj.showOpinionArea()&& wfHolderObj.isTodo()}">
  <div class="lc-form-row">
    <div class="lc-toggle-box">
      <ion-list>
        <ion-item>
          <ion-label class="textcolor" fixed>经办人</ion-label>
          <ion-input class="textdirec" type='text' value="" readonly [(ngModel)]="editingEntry.operatorName">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>所在部门</ion-label>
          <ion-input class="textdirec" type='text' value="" readonly [(ngModel)]="editingEntry.operatorDeptName">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>联系电话</ion-label>
          <ion-input class="textdirec" type='text' value="" disabled [(ngModel)]="editingEntry.phoneNumber"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>申请人</ion-label>
          <ion-input class="textdirec" type='text' value="" readonly [(ngModel)]="editingEntry.applyUsername">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>申请人所在部门</ion-label>
          <ion-input class="textdirec" type='text' value="" readonly [(ngModel)]="editingEntry.applyDeptname">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>申请人手机号码</ion-label>
          <ion-input class="textdirec" type='text' value="" readonly [(ngModel)]="editingEntry.applyPhoneNumber">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>申请日期</ion-label>
          <ion-input class="textdirec" type='text' value="{{editingEntry.applyDate | date: 'yyyy-MM-dd HH:mm'}}"
            readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>人员类别</ion-label>
          <ion-select [(ngModel)]="editingEntry.userType" placeholder="请选择" okText="确定" cancelText="取消" disabled>
            <div *ngFor="let typeData of userTypes">
              <ion-option value="{{typeData?.optionValue}}">{{typeData?.optionName}}</ion-option>
            </div>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="editingEntry.userType=='lp'">
          <ion-label class="textcolor" fixed>延期申请日期</ion-label>
          <ion-input class="textdirec" type='text' value="{{editingEntry.delayStartTime | date: 'yyyy-MM-dd HH:mm'}}"
            readonly></ion-input>
        </ion-item>

        <ion-item *ngIf="editingEntry.userType=='lp'">
          <ion-label class="textcolor" fixed>延期结束日期</ion-label>
          <ion-input class="textdirec" type='text' value="{{editingEntry.delayEndTime | date: 'yyyy-MM-dd HH:mm'}}"
            readonly></ion-input>
        </ion-item>

        <ion-item *ngIf="editingEntry.userType=='lp'">
          <ion-label class="textcolor" fixed>申请类型</ion-label>
          <ion-select [(ngModel)]="editingEntry.delayName" placeholder="请选择" okText="确定" cancelText="取消" disabled>
            <div *ngFor="let typeData of delays">
              <ion-option value="{{typeData?.optionValue}}">{{typeData?.optionName}}</ion-option>
            </div>
          </ion-select>
        </ion-item>

        <!--<ion-item *ngIf="editingEntry.userType=='lp'&&editingEntry.delay=='1'">
          <ion-label class="textcolor" fixed>账号信息</ion-label>
          <ion-input class="textdirec" type='text' value="" [disabled]="!editable" [(ngModel)]="editingEntry.delayNumber"></ion-input>
        </ion-item>-->


        <ion-item>
          <ion-label class="textcolor" fixed>业务类型</ion-label>
          <ion-select [(ngModel)]="editingEntry.businessTypeName" placeholder="请选择" okText="确定" cancelText="取消" disabled
            multiple>
            <div *ngFor="let typeData of businessTypes">
              <ion-option value="{{typeData?.optionValue}}">{{typeData?.optionName}}</ion-option>
            </div>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="lc-form-row" *ngIf="checkShow('ip')">
    <h2 class="lc-toggle-title" (click)="collspaed=!collspaed">
      IP地址申请
      <a href="javascript:void(0);" class="lc-toggle-btn">
        <ion-icon class="iconfont icon-arrowup" *ngIf="collspaed"></ion-icon>
        <ion-icon class="iconfont icon-arrowdown" *ngIf="!collspaed"></ion-icon>
      </a>
    </h2>
    <div class="lc-toggle-box" *ngIf="collspaed">
      <ion-list>
        <ion-item>
          <ion-label class="textcolor" fixed>房间地址</ion-label>
          <ion-select [(ngModel)]="editingEntry.roomAddressName" placeholder="请选择" okText="确定" cancelText="取消" disabled
            multiple>
            <div *ngFor="let typeData of roomAddress">
              <ion-option value="{{typeData?.optionValue}}">{{typeData?.optionName}}</ion-option>
            </div>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>房间号</ion-label>
          <ion-input class="textdirec" type='text' value="" disabled [(ngModel)]="editingEntry.roomNum"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>用途</ion-label>
          <ion-select [(ngModel)]="editingEntry.purposeName" placeholder="请选择" okText="确定" cancelText="取消" disabled
            multiple>
            <div *ngFor="let typeData of purposeTypes">
              <ion-option value="{{typeData?.optionValue}}">{{typeData?.optionName}}</ion-option>
            </div>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>接入方式</ion-label>
          <ion-select [(ngModel)]="editingEntry.accessTypeName" placeholder="请选择" okText="确定" cancelText="取消" disabled
            multiple>
            <div *ngFor="let typeData of accessTypes">
              <ion-option value="{{typeData?.optionValue}}">{{typeData?.optionName}}</ion-option>
            </div>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>信息点网口编号</ion-label>
          <ion-input class="textdirec" type='text' value="" disabled [(ngModel)]="editingEntry.netExport"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>资产标签</ion-label>
          <ion-input class="textdirec" type='text' value="" disabled [(ngModel)]="editingEntry.assetsLabel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>保密标签</ion-label>
          <ion-input class="textdirec" type='text' value="" disabled [(ngModel)]="editingEntry.secrecyLabel">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>资产类型</ion-label>
          <ion-select [(ngModel)]="editingEntry.assetsTypeName" placeholder="请选择" okText="确定" cancelText="取消" disabled
            multiple>
            <div *ngFor="let typeData of assetsTypes">
              <ion-option value="{{typeData?.optionValue}}">{{typeData?.optionName}}</ion-option>
            </div>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>设备型号</ion-label>
          <ion-input class="textdirec" type='text' value="" disabled [(ngModel)]="editingEntry.switchBoardModel">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>MAC地址</ion-label>
          <ion-input class="textdirec" type='text' value="" disabled [(ngModel)]="editingEntry.macAddress"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <!--<div class="lc-form-row" *ngIf="checkShow('vpn')">
    <h2 class="lc-toggle-title" (click)="collspaed2=!collspaed2">
      VPN资源
      <a href="javascript:void(0);" class="lc-toggle-btn">
        <ion-icon class="iconfont icon-arrowup" *ngIf="collspaed2"></ion-icon>
        <ion-icon class="iconfont icon-arrowdown" *ngIf="!collspaed2"></ion-icon>
      </a>
    </h2>
    <div class="lc-toggle-box" *ngIf="collspaed2">
      <ion-list>
        <ion-item>
          请勾选需要申请的vpn资源
        </ion-item>
        <ion-item *ngFor="let vpn of vpnList">
          <ion-label>{{vpn.name}}</ion-label>
          <ion-checkbox slot="end" [checked]="vpnTypes.indexOf(vpn.value)>-1? true:false" disabled></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label class="textcolor" fixed>说明</ion-label>
            <div item-content class="form-item-content" style="margin-left:0;">
              <div class="" tappable style="font-size: 16px;text-align: right;color: #666;">
                <span style="position:relative; top:-3px;">研究生原则不予分配VPN资源。
                </span>
              </div>
            </div>
        </ion-item>
      </ion-list>
    </div>
  </div>-->
  <div class="lc-form-row" *ngIf="checkShow('email')">
    <h2 class="lc-toggle-title" (click)="collspaed3=!collspaed3">
      NSSC邮箱
      <a href="javascript:void(0);" class="lc-toggle-btn">
        <ion-icon class="iconfont icon-arrowup" *ngIf="collspaed3"></ion-icon>
        <ion-icon class="iconfont icon-arrowdown" *ngIf="!collspaed3"></ion-icon>
      </a>
    </h2>
    <div class="lc-toggle-box" *ngIf="collspaed3">
      <ion-list>
        <ion-item>
          <!-- <ion-label class="textcolor" fixed>说明</ion-label>
          <div item-content class="form-item-content" style="margin-left:0;">
            <div class="" tappable style="font-size: 16px;text-align: right;color: #666;">
              <span style="position:relative; top:-3px;">勾选此处即申请@nssc.ac.cn后缀邮箱服务，用户名默认为姓名全拼</span>
            </div>
          </div> -->
          <ion-label class="textcolor" fixed style="max-width: 200px;flex: 0 0 100px;">说明</ion-label>
          <ion-label fixed class="textdirec"
            style="width: initial;max-width: inherit;min-width: initial;display: flex;flex: 1;">
            您正在申请@nssc.ac.cn后缀邮箱服务，用户名默认为姓名全拼,研究生原则不予分配中心邮箱。</ion-label>
          <!-- <ion-input class="textdirec" type='text' disabled value="勾选此处即申请@nssc.ac.cn后缀邮箱服务，用户名默认为姓名全拼"></ion-input> -->
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="lc-form-row" *ngIf="checkShow('num')">
    <h2 class="lc-toggle-title" (click)="collspaed4=!collspaed4">
      网络实名制账号
      <a href="javascript:void(0);" class="lc-toggle-btn">
        <ion-icon class="iconfont icon-arrowup" *ngIf="collspaed4"></ion-icon>
        <ion-icon class="iconfont icon-arrowdown" *ngIf="!collspaed4"></ion-icon>
      </a>
    </h2>
    <div class="lc-toggle-box" *ngIf="collspaed4">
      <ion-list>
        <ion-item>
          <!-- <ion-label>说明</ion-label>
          <ion-input class="textdirec" type='text' disabled value="您正在申请网络实名帐号"></ion-input> -->
          <ion-label class="textcolor" style="max-width: 200px;flex: 0 0 100px;">说明</ion-label>
          <ion-label fixed class="textdirec"
            style="width: initial;max-width: inherit;min-width: initial;display: flex;flex: 1;">
            您正在申请网络实名帐号。研究生及其他人员请在备注填写个人邮箱信息，用于网络实名帐号。</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="lc-form-row">
    <div class="lc-toggle-box">
      <ion-list>
        <ion-item>
          <ion-label>备注</ion-label>
          <ion-input class="textdirec" type='text' value="" disabled [(ngModel)]="editingEntry.remarks"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="lc-form-row" *ngIf="isAllOfficePoint || !editable">
    <h2 class="lc-toggle-title" (click)="collspaed1=!collspaed1">
      申请数据分配
      <a href="javascript:void(0);" class="lc-toggle-btn">
        <ion-icon class="iconfont icon-arrowup" *ngIf="collspaed1"></ion-icon>
        <ion-icon class="iconfont icon-arrowdown" *ngIf="!collspaed1"></ion-icon>
      </a>
    </h2>
    <div class="lc-toggle-box" *ngIf="collspaed1">
      <ion-list>
        <ion-item>
          <ion-label class="textcolor" fixed>分配IP地址</ion-label>
          <ion-input class="textdirec" type='text' value="" [disabled]="!isAllOfficePoint ||!editable"
            [(ngModel)]="editingEntry.distributeIP" placeholder="请输入IP地址"></ion-input>
        </ion-item>
        <!-- <ion-item>
              <ion-label class="textcolor" fixed>分配VPN地址</ion-label>
              <ion-input class="textdirec" type='text' value="" [disabled]="!isAllOfficePoint ||!editable" [(ngModel)]="editingEntry.distributeVPN"></ion-input>
            </ion-item> -->
        <ion-item>
          <ion-label class="textcolor" fixed>分配邮箱地址</ion-label>
          <ion-input class="textdirec" type='text' value="" [disabled]="!isAllOfficePoint ||!editable"
            [(ngModel)]="editingEntry.distributeEmail" placeholder="请输入邮箱地址"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>网络实名制账号</ion-label>
          <ion-input class="textdirec" type='text' value="" [disabled]="!isAllOfficePoint ||!editable"
            [(ngModel)]="editingEntry.accountNumber" placeholder="请输入实名账号"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>默认密码</ion-label>
          <ion-input class="textdirec" type='text' value="" [disabled]="!isAllOfficePoint ||!editable"
            [(ngModel)]="editingEntry.distributePsw" placeholder="请输入默认密码"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>备注</ion-label>
          <ion-input class="textdirec" type='text' value="" [disabled]="!isAllOfficePoint ||!editable"
            [(ngModel)]="editingEntry.distributionRemarks">
          </ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <work-flow [opinionList]="opinionList"></work-flow>
</ion-content>
<!-- <workflow-button *ngIf="editingEntry && wfHolderObj" [editable]="editable" [wfHolderObj]="wfHolderObj" [EditingEntry]="editingEntry" [datamore]="datamore"></workflow-button> -->
<ion-footer class="footer-btnRowLiucheng" *ngIf="editable && !!wfHolderObj && wfHolderObj.isTodo()" [formGroup]="myForm"
  [ngStyle]="{'bottom': datamore.btnscollHeight>0 && ismobile? datamore.btnscollHeight+'px' : 0 }">
  <textarea *ngIf="wfHolderObj.showOpinionArea()" class="optionContent" placeholder="填写办理意见" formControlName="opinion"
    (click)="blurInput()"></textarea>
  <ion-grid class="btnsStyle">
    <ion-row>
      <ion-col *ngFor="let btn of wfHolderObj.btns()">
        <button [disabled]='myForm.valid == false && wfHolderObj.opinionRequired()' (click)="manage(btn ,opinion)"
          [ngClass]="{'color-submit': (btn.type == 'submit' || btn.type =='end'), 
                      'color-back': btn.type == 'rollback'}">
          {{ btn.title }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
