page-entrustApply {
  ion-select{
    flex: 1;
    max-width: 100%;
  }
  .select-text{
    text-align: right;
    color: #666666;
  }
  .ml16 {
    margin-left: 16px;
    text-align: right;
  }
  .header .bar-button-default{
    // font-size: 1.8rem;
}
.lc-form-row .lc-toggle-box .card-text span {
  width: 10rem !important;
}

ion-label[fixed] {
  min-width: 130px !important;
}
ion-label{
  white-space: inherit;
}
.header .bar-button-default {
  font-size: 1.8rem;
}

.item-ios {
  padding-left: 0;
  // height: 6rem;
  min-height: 6rem;
}

.item-ios.item-block .item-inner {
  padding: 0 1.5rem;
  border-color: #e8eaf4;
  font-size: 1.7rem;
}

.card-bottom .col {
  border-right: 1px solid #ededed;
}

.week {
  position: absolute;
  right: 0;
  display: flex;
  transform: translate(0, -50%);
  color: #d2d8dd !important;
  font-size: 1.2rem;
}

.list-ios {
  margin-bottom: 0;
}

.list-ios>.item-block:last-child,
.list-ios>.item-wrapper:last-child .item-block {
  border: none;
}

.list-ios>.item-block:first-child {
  border: none;
  overflow: hidden;
}

.textcolor {
  color: #333;
}

.text-input-ios {
  text-align: right;
}

.datetime-text {
  text-align: right;
}

.textdirec {
  color: #666666;
  text-align: right;
}

.datetime-disabled,
.item-datetime-disabled ion-label {
  opacity: 1;
}

.datetime {
  text-align: right;
  align-items: flex-end;
  flex: 1;
  color: #333;
  padding-right: 2.5rem;
  font-size: 2.2rem;
}

.card-ios {
  width: 100%;
  border: none;
  margin: 0;
  margin-bottom: .5rem;
}

.fileText {
  height: 6rem;
  line-height: 6rem;
  text-align: left;
  background: #fff;
  font-size: 1.7rem;
  color: #333;
  width: 100%;
  padding: 0 1.5rem;
}

.file {
  height: 6rem;
  line-height: 6rem;
  text-align: center;
  background: #fff;
  font-size: 1.7rem;
  color: #007bff;
  width: 100%;
  padding: 0 1.5rem;
  position: relative;

  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 11;
    opacity: 0;
  }

}
}
