page-select-driver{
    .projectcontent{
        padding: 0;
        overflow: hidden;
        li{
            min-height: 6rem;
            line-height: 2.2rem;
            padding: 1.8rem 1.5rem;
            background: #fff;
            font-size: 1.7rem;
            color: #666666;
            border-top: 1px solid #e8eaf4;
            display: flex;
            align-items: center;
        }
    }
    .checked{
        background: #61adff !important;
        color: #fff!important;
    }
}