<ion-header>
  <!-- <ion-navbar>
    <ion-title>出差详情</ion-title>
    <ion-buttons end>
      <button ion-button (click)="viewFlow()">
        <ion-icon name="xinzeng"></ion-icon>办理意见
      </button>
    </ion-buttons>
  </ion-navbar> -->
  <ion-toolbar>
    <ion-buttons>
      <button ion-button (click)="goback()">
        <ion-icon class="iconfont icon-arrowleft"></ion-icon>返回
      </button>
    </ion-buttons>
    <ion-title>出差详情</ion-title>
    <ion-buttons end>
      <button ion-button (click)="viewFlow()">
        <ion-icon name="xinzeng"></ion-icon>办理意见
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="layout-content" [ngClass]="{'has-footer': editable && wfHolderObj && wfHolderObj.showOpinionArea()&& wfHolderObj.isTodo() ,'has-footer2':(editable && wfHolderObj && !wfHolderObj.showOpinionArea()&& wfHolderObj.isTodo()) || (procedureStatus=='waiting' && wfHolderObj &&  wfHolderObj.wfInst.listPointInstTo.length <=2)}">
  <div class="lc-form-row">
    <div class="lc-toggle-box">
      <ion-list *ngIf="editingEntry">
        <textarea [(ngModel)]="editingEntry.evReason" readonly class="reason" placeholder="请填写出差事由"></textarea>
      </ion-list>
      <ion-list *ngIf="editingEntry">
        <ion-item>
          <ion-label class="textcolor" fixed>申请人</ion-label>
          <ion-input class="textdirec" type="text" value="" readonly [(ngModel)]="editingEntry.userName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>部门</ion-label>
          <ion-input class="textdirec" type="text" value="" readonly [(ngModel)]="editingEntry.deptName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>申请日期</ion-label>
          <ion-input class="textdirec" type='text' value="{{editingEntry.evApplyDate | date: 'yyyy-MM-dd HH:mm'}}"
            readonly></ion-input>
        </ion-item>
      </ion-list>
      <ion-list *ngIf="editingEntry">
        <div class="timeStyle">
          <div class="leaveTime">
            <span class="stactime">{{editingEntry.evOutDate | date: 'yyyy'}}</span>
            <i class="statictext">出差日期</i>
            <i class="statictext">结束日期</i>
            <span class="stactime">{{editingEntry.evBackDate | date: 'yyyy'}}</span>
          </div>
          <div class="leaveType">
            <span class="stactime">{{editingEntry.evOutDate | date:'MM-dd'}}</span>
            <span class="stactime">{{editingEntry.evBackDate | date:'MM-dd'}}</span>
          </div>
          <div class="leaveWeek">
            <span class="left">星期{{weekab}}</span>
            <span class="right">星期{{weekab2}}</span>
          </div>
          <em class="choosedaybg"></em>
        </div>
        <ion-item>
          <ion-label class="textcolor" fixed>计划天数</ion-label>
          <ion-input class="textdirec" type="text" value="" readonly [(ngModel)]="editingEntry.evNum"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="textcolor" fixed>出差地点</ion-label>
          <ion-input class="textdirec" type='text' value="" readonly [(ngModel)]="editingEntry.ecAddress"></ion-input>
        </ion-item>
      </ion-list>

    </div>
  </div>
  <work-flow [opinionList]="opinionList"></work-flow>
</ion-content>
<workflow-button *ngIf="editingEntry && wfHolderObj" [editable]="editable" [wfHolderObj]="wfHolderObj"
  [EditingEntry]="editingEntry" [datamore]="datamore" [procedureStatus]="procedureStatus" [toggle]="toggle"></workflow-button>
