<ion-list id="DateSelect">
  <ion-item detail-none no-border>
      <ul>
          <li>2018</li>
          <li class="dateselect_zh">开始时间</li>
          <li>11-09</li>
          <li>上午</li>
          <li>星期五</li>
      </ul>
  </ion-item>
  <ion-item class="jiantou">
      >
  </ion-item>
  <ion-item detail-none>
      <ul>
          <li class="dateselect_zh">结束时间</li>
          <li>2018</li>
          <li>11-09</li>
          <li>下午</li>
          <li>星期五</li>
      </ul>
  </ion-item>
</ion-list>
